/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

header {
    overflow: auto;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    color: #95c6bc;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

div.menu  { 
        position: absolute;
        bottom: 15px;
        right: 25px;
        display: block;
    }

    div.menu > a > div { 
        border-radius: 5px;
        padding: 5px 7px;
        margin-right: 10px;
        background-color: #95c6bc;
        display: block;
        font-weight: 100;
        color: #191520;
        float: left;
    }

.badgefooter {
    height: 30px;
}

div.social  { 
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: block;
    }

div.social > a {
    margin-left: 15px;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Open Sans', Helvetica, Arial;
    color: #191520;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

#videoplay{
    width:150px;
    float:left;
    border:3px #e5efee solid;
    margin-top:15px;
    opacity: 0.8;
}

#videoplay:hover {
    opacity: 1.0;
}

.video > div > article {
    margin: 0 auto;
    width: 320px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    position: relative;

}


.iosWrapper {
    position: relative;
    vertical-align: bottom;
    float: left;
    overflow: hidden;
    width: 50%;
    min-width: 350px;
    height: 250px;
    margin: 5% 0;

}

.androidWrapper {
    position: relative;
    vertical-align: bottom;
    float: right;
    overflow: hidden;
    width: 50%;
    min-width: 350px;
    height: 250px;
    margin: 5% 0;

}

#ipad {
    height: 220px;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 0px;

}

#iphoneStanding{
    height: 170px;
    position: absolute;
    left: 250px;
    bottom: 26px;
    z-index: 2;

}

#iphoneLaying{
    height: 82px;
    position: absolute;
    bottom: 0px;
    left: 140px;
    z-index: 3;
}

#androidLaying{
    height: 78px;
    position: absolute;
    bottom: 12px;
    right: 150px;
    z-index: 3;
}

#androidStanding{
    height: 170px;
    position: absolute;
    right: 260px;
    bottom: 32px;
    z-index: 2;
}

#androidTablet {
    height: 220px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 1;
}

div.rightblock {
    width: 50%;
    float: right;
}

div.leftblock {
    width: 50%;
    float: left;
}

p.breadtext {
    margin: 10%;
    font-size: 1.4em;
    line-height: 1.2em;
    letter-spacing: 2.3px;
    font-weight: 100;
}

div.iphoneLandscapeWrapper {
    float: left;
    margin-top: 4   0px;
    width: 50%;
}

div.biniWrapper {
    float: right;
    
    width: 40%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#skraaBini {
    position: relative;
    top: -20px;
    left: -40px;
    height: 420px;
}

img.iphoneLandscape {
    width: 100%;
}

img.iphoneStanding {
    float: left;
    height: 380px;
}

#pinkipad{
    position: relative;
    width: 460px;
    bottom: 0;
}

#adelen{
    position: absolute;
    width: 300px;
    top: 300px;
    right: -30px;
}

#thirdIphone{
    left: 40px;
    position: relative;
    bottom: 0px;
}


#skraa1 {
    position: absolute;
    bottom: -185px;
    left: -45px;
    width: 560px;
}

#skraa2 {
    position: absolute;
    bottom: -185px;
    width: 560px;
    left: 450px;
}

img {
    vertical-align: bottom;
}

.header-container header {
    padding: 1%;
}

.header-container img{
    width: 12%;
    min-width: 110px;
}

.main-container {
    overflow: hidden;
}

.light {
    background-color: rgb(229, 239, 238);
    background-color: rgba(229, 239, 238, 0.9);
}

.dark {
    background-color: #272034;
    color: #e5efee;
}

.video {
    height: 120px;
    background-color: rgb(229, 239, 238);
    background-color: rgba(39, 32, 52, 0.8);
    color: #e5efee;
}

.header-container {
    background-color: #272034;
}


.title {
    color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.footerleft {
    text-align: left;
    left: 15px;
    font-size: 14px;
    position: absolute;
    bottom: 15px;
}

.footerleft > a {
    margin-right: 10px;
}

.menu > a > img {
    margin-right: 10px;
}
.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: #9894c4;
    padding: 15px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 767px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */


.badgefooter {
    height: 23px;
}

   div.menu > a > div { 
        border-radius: 5px;
        padding: 5px 7px;
        margin-right: 10px;
        background-color: #95c6bc;
        display: block;
        font-weight: 100;
        color: #191520;
        float: left;
        font-size: 0.7em;
    }

    .main article h1 {
        font-size: 1.2em;
        letter-spacing: 1px;
        margin-bottom: -15px;
    }   

    .main article h2 {
        font-size: 1.0em;
        letter-spacing: 1px;
        font-weight: 300;
    }

    .left > a {
    font-size: 0.8em;
}

    p.breadtext{
        font-size: 1.0em;
    }

    #pinkipad{
        display: none;
    }

    #bini{
        display: none;
    }

    #skraaBini {
        display: none;
    }

    .skraaBilder{
        display: none;
    }

    #adelen{
        display: none;
    }

    .rightblock {
        margin-top: 0px;
    }

    .leftblock {
        margin-top: 0px;
    }

    .alone{
        width: 100% !important;
    }


.footerleft {
    font-size: 0.8em;
}

    #appstorebadge {
        position: absolute;
        left: 10px;
        bottom: 0px;
        height: 40px;
    }

    #androidbadge {
        height: 40px;
        bottom: 0px;
        position: absolute;
        right: 23px;
    }
}

@media only screen and (min-width: 768px) and  (max-width: 1139px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

   .rightblock {
        margin-top: 30px;
    }

    .leftblock {
        margin-top: 40px;
    }

    #appstorebadge {
        position: absolute;
        left: 10px;
        bottom: 0px;
        height: 40px;
    }

    #androidbadge {
        height: 40px;
        bottom: 0px;
        position: absolute;
        right: 23px;
    }



/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 100%;
    }

    .main article h1 {
        font-size: 1.9em;
        letter-spacing: 1px;
        margin-bottom: -15px;
    }   

    .main article h2 {
        font-size: 1.6em;
        letter-spacing: 1px;
        font-weight: 300;
    }

    p.breadtext{
        font-size: 1.2em;
    }

    #pinkipad{
        position: absolute;
        width: 300px;
        top: 120px;
        right: 0px;
    }

    #bini{
        height: 300px;
    }

    #skraaBini {
        height: 320px;
    }

    .skraaBilder{
        display: none;
    }

    #adelen{
        display: none;
    }

    #appstorebadge {
        position: absolute;
        left: 10px;
        bottom: 0px;
        height: 40px;
    }

    #androidbadge {
        height: 40px;
        bottom: 0px;
        position: absolute;
        right: 23px;
    }

    }

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .rightblock {
        margin-top: 60px;
    }

    .leftblock {
        margin-top: 50px;
    }

    #androidbadge {
        height: 40px;
        bottom: 100px;
        position: absolute;
        left: 10px;
    }

    #appstorebadge {
        position: absolute;
        right: 10px;
        bottom: 100px;
        height: 40px;
    }


    .main {
        height: 420px;
    }

   .main article h1 {
        font-size: 2.3em;
        letter-spacing: 1px;
        margin-bottom: -15px;
    }   

    .main article h2 {
        font-size: 2.0em;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
